form.searchForm {
  margin-bottom: 10px;
}

form.searchForm input {
  color: gray;
  margin-bottom: 5px;
}

form.searchForm.label {
  color: darkgray;
}

label {
  font-size: 15px;
}

.submit-btn {
  background-color: #000;
}