form.search {
  margin-bottom: 10px;
}

form.search button[type="submit"] {
  margin-top: 10px;
}

form.search input {
  color: gray;
}

form.search.label {
  color: darkgray;
}

label {
  font-size: 15px;
}

.submit-btn {
  background-color: #000;
}